*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: burlywood;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
   flex-wrap: wrap; 
}

.Card {
    height: 490px;
    width: 320px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.Prof{
    display: flex;
    height: 100%;
    align-items: center;
}


.TopContain {
    /* background-color: red; */
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
   
}

.Avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid red;
    margin: 2px;
}

.resize{
    height: 40px;
    width: 40px;

}

.Post {
    height: 350px;
    background-color: white;
    width: 97%;
}

.Post >img {
    height:100%;
    width: 100%;
}

.Icons {
    width: 97%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.Imgs {
    display: flex;
}

.Imgs >img {
    height: 30px;
    width: 30px;
}

.Save >img {
    height: 30px;
    width: 30px;
}

.Likes {
    width: 97%;

}

